@font-face {
  font-family: "Anybody";
  src: url("../public/fonts/Anybody.ttf");
}

@font-face {
  font-family: "Moniqa";
  src: url("../public/fonts/Moniqa.ttf");
}

@font-face {
  font-family: "Outera";
  src: url("../public/fonts/Outera.ttf");
}

@font-face {
  font-family: "Readex";
  src: url("../public/fonts/Readex.ttf");
}

@font-face {
  font-family: "Architectural";
  src: url("../public/fonts/Architectural.ttf");
}
