* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black !important;
}

@font-face {
  font-family: "Anybody";
  src: url("../public/fonts/Anybody.ttf");
}

@font-face {
  font-family: "Moniqa";
  src: url("../public/fonts/Moniqa.ttf");
}

@font-face {
  font-family: "Outera";
  src: url("../public/fonts/Outera.ttf");
}

@font-face {
  font-family: "Readex";
  src: url("../public/fonts/Readex.ttf");
}

@font-face {
  font-family: "Architectural";
  src: url("../public/fonts/Architectural.ttf");
}

p,
h1,
h2,
h3 {
  color: white;
}

p {
  margin: 0;
}

h3 {
  margin: 25px 0 10px;
}

#variable-text-area {
  color: white;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px;
  resize: none;
  outline: none;
  width: 100%;
  height: 300px;
  font-family: "Moniqa";
  font-size: 30px;
  background-color: transparent;
}

.MuiSlider-track {
  /* border-radius: 0 !important; */
  /* color: rgba(255, 255, 255, 0.15); */
  background: linear-gradient(
    90deg,
    rgb(74, 65, 231) 0%,
    rgb(233, 33, 109) 100%
  ) !important;
  height: 20px;
}

.MuiSlider-rail {
  height: 20px;
  /* background: linear-gradient(
    90deg,
    rgb(74, 65, 231) 0%,
    rgb(233, 33, 109) 100%
  ) !important; */
  box-shadow: inset 2px 2px 2px black;
}

.MuiSlider-thumb {
  border-radius: 0;
  width: 75px;
  height: 10px;
  border-bottom: ridge;
  border-top: groove;
  border-left: ridge;
  border-right: groove;
  border-color: lightgray;
  background: linear-gradient(
    90deg,
    rgb(179, 179, 179) 0%,
    rgb(255, 255, 255) 200%
  );
  border-width: 14px;
  outline: 5px solid white;
  outline-width: 13px;
  outline-offset: -19px;
}

.MuiButton-outlined {
  border-radius: 0;
  border-color: grey;
}

.MuiSelect-outlined {
  border-color: grey;
  border-radius: 0 !important;
  padding: 5px 14px !important;
  padding-right: 32px !important;
}

.MuiOutlinedInput-root {
  border-radius: 0 !important;
}
