$custom-thumb-width: 76px;

.MuiContainer-root {
  max-width: 800px !important;
}

.MuiSlider-root {
  width: calc(100% - $custom-thumb-width) !important;
  display: block !important;
  margin: 10px calc($custom-thumb-width/2) 20px !important;
}

.MuiSlider-track {
  height: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 3px 5px inset !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin: 0 0 0 calc($custom-thumb-width/2 * -1) !important;
  padding-right: 15px;
}

.MuiSlider-rail {
  height: 20px !important;
  box-shadow: black 0px 3px 5px inset !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  margin: 0 0 0 calc($custom-thumb-width/2) !important;
}

.MuiSlider-thumb {
  border-radius: 0 !important;
  width: $custom-thumb-width !important;
  height: 10px !important;
  border-bottom: ridge !important;
  border-top: groove !important;
  border-left: ridge !important;
  border-right: groove !important;
  border-color: rgb(233, 233, 233) !important;
  border-top-color: white !important;
  border-bottom-color: rgb(190, 190, 190) !important;
  border-width: 14px !important;
  box-shadow: none !important;
  &::before {
    width: 62px !important;
    height: 14px !important;
    background: linear-gradient(90deg, darkgrey 0%, white 100%) !important;
    z-index: 3 !important;
  }
}

.MuiInput-root {
  margin: 0 !important;
  width: 100% !important;
  &:hover:not(.Mui-disabled)::before {
    border: none !important;
  }
  &::before {
    border: none !important;
  }
}

.MuiSelect-select {
  width: 100% !important;
  border: none !important;
  border-radius: 2px !important;
  padding: 5px 14px !important;
  padding-right: 32px !important;
  margin: 0 !important;
  text-transform: capitalize;
  background: linear-gradient(
    -45deg,
    white 0%,
    rgb(170, 170, 170) 100%
  ) !important;
  color: black !important;
}

.MuiButton-root {
  height: 24px;
  width: 100%;
  min-width: min-content;
  // font-family: inherit;
  // font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(
    -20deg,
    white 0%,
    rgb(170, 170, 170) 100%
  ) !important;
  border: none !important;
  margin: none !important;
  border-radius: 3px !important;
  color: black !important;
  &:hover {
    border: none !important;
    border-radius: 3px !important;
  }
  &.active {
    background: linear-gradient(
      -225deg,
      white 0%,
      rgb(170, 170, 170) 100%
    ) !important;
  }
}

.MuiButton-outlined {
  border-radius: 0 !important;
  border-color: grey !important;
}

.MuiMenuItem-root {
  text-transform: capitalize !important;
}

.Mui-disabled {
  -webkit-text-fill-color: black;
}
